.our-team {
  padding: 100px 0;
}
.our-team .team-title {
  text-align: center;
}
.our-team .team-parent {
  margin: 30px 0;
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px 0;
}
.our-team .team-parent .content {
  position: relative;
  overflow: hidden;
}
.our-team .team-parent img {
  height: 300px;
}
.our-team .team-parent .member-info {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  width: 110%;
  height: 110%;
  opacity: 0.8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}
.our-team .team-parent .member:hover .member-info {
  transform: translate(-50%, -50%) scale(1);
}
.our-team .team-parent .member-info h2 {
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s;
}
.our-team .team-parent .member-info h2:hover {
  color: var(--main-color);
}
.our-team .team-parent .member-info p {
  color: #777;
  margin: 5px 0;
}
.our-team .team-parent .member-info .social {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}
.our-team .team-parent .member-info .social .social-parent {
  background-color: #ddd;
  transition: 0.3s;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
}

.our-team .team-parent .member-info .social .social-parent svg {
  cursor: pointer;
}
